*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(199, 244, 244);
    color: rgb(45, 44, 44);
    line-height: 1.6;
}
.container{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    width: 250px;
    background-color: rgb(10, 10, 65);
    color: white;
    padding: 20px;
    transition: all 0.3s;
    position: fixed;
    height: 100vh;
    z-index: 100;
}
.logo{
    display: flex;
    align-items: center;
    padding: 0 20px 20px ;
    font-size: 22px;
    font-weight: bold;
}
.sidebar nav ul{
    list-style: none;
}
.sidebar nav ul li{
    padding: 12px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}
.sidebar nav ul li:hover{
    background-color: rgb(45, 44, 72);
}
.sidebar nav ul li:active{
    background-color: rgb(107, 207, 237);
}


.main-content{
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    transition: all 0.3s;
}
.top-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    background-color:  rgb(199, 244, 244) ;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0,0.1);
    margin-bottom: 20px;
}
.search-bar{
    display: flex;
    align-items: center;
    background-color:  rgb(242, 245, 245);
    padding: 8px 15px;
    border-radius: 30px;
    width: 300px;
}
.search-bar input{
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}
.user-profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px; 
}

.tab-content {
   display: none;
   background-color: white; 
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 5px rgb(0, 0, 0,0.1);
}
.tab-content.active{
    display: block; 
}


.tab-content h2{
    margin-bottom:20px ;
    color: rgb(32, 32, 48);
}
.tab-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stats-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-bottom: 30px;

}
.stat-card{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0,0.1);
    text-align: center;
    transition: transform 0.3s;
}
.stat-card:hover{
    transform: translate(-5px);
}
.stat-card h3{
    font-size: 16px;
    margin-bottom: 10px;
    
}
.stat-card p{
    font-size: 16px;
    font-weight: bold;
    color: rgb(43, 42, 42);
}

.recent-activity{
    background-color: white ;
    padding: 20px;
    border-radius: 8px; 
    width: 100%;
    box-shadow: 0 2px 5px rgb(0, 0, 0,0.1);
}
.recent-activity h3{
    margin-bottom:15px ;
    color: rgb(52, 50, 50); 
}
.activity-list{
    max-height: 300px ;
    overflow: auto;
}

.activity-item{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid white;
}
.activity-item:last-child{
    border-bottom: none;
}

/*  table   **/

.table-container{
    overflow-x: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,td{
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid white;
}
th{
    background-color: rgb(223, 201, 244);
    font-weight: 600;
    color: rgb(44, 42, 42);
}
th:hover{
    background-color: rgb(248, 227, 227);
}

.status{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}
 .status-available{
    background-color: white;
    color: green;
 }
.status-occupied{
    background-color: white;
    color: brown;
}


 /* button**/
 .btn{
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s;
    display: inline-flex;
    align-items: center;
}
.btn-primary{
    background-color: rgb(43, 173, 243);
    color: white
}
.btn-primary:hover{
    background-color:  rgb(88, 187, 241);
}
.btn-secondary{
    background-color: rgb(86, 101, 110);
    color: white
}

.btn-secondary:hover{
     background-color: rgb(110, 117, 122);
}
.action-buttons{
    display: flex;
    gap: 5px;
}


/*form**/

.form-group{
    margin-bottom: 15px;
}
.form-group label{
    display:block ;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group input,
.form-group select,
.form-group textarea{
       width: 100%;
       padding: 10px;
       border: 5px solid white;
       border-radius: 4px;
       font-size: 15px;
}

.form-group textarea{
    min-height: 100px;
    resize: vertical;
}
.form-actions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

/*tags input**/

/*.tags-input{
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
}**/


/*  Modal overlay**/

/*.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0, 0,0.5);
    z-index: 1000;
    display: none;
    opacity: 0;

    transition: opacity 0.3s;
}



.modal-header{
    padding: 15px 20px;
    border-bottom:1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header h3{
    margin: 0;
}
.close-modal{
    background: none;
    border: none;
    font-size: 2px;
    cursor: pointer;
    color: rgb(98, 98, 98);
}
.modal-body{
    padding: 20px;
}**/